<nb-card accent="primary">
    <nb-card-header fxLayoutAlign="space-between center">
      <h4>裝置管理</h4>
      <button status="success" nbButton (click)="openCreateDialog()"><nb-icon icon="plus-outline"></nb-icon>新增裝置</button>
    </nb-card-header>
  </nb-card>
  
  <nb-card accent="info">
    <nb-card-body [formGroup]="searchForm" fxLayout="row wrap" fxLayoutGap="10px">
      <div class="form-control" fxFlex="25" fxFlex.sm="100"  fxFlex.xs="100">
        <label class="label">裝置名稱</label>
        <input formControlName="deviceName" type="text" nbInput fullWidth placeholder="請輸入名稱">
      </div>
      <div class="form-control" fxFlex="25" fxFlex.sm="100"  fxFlex.xs="100">
        <label class="label">位置</label>
        <input formControlName="place" type="text" nbInput fullWidth placeholder="請輸入型號">
      </div>
    </nb-card-body>
  </nb-card>
  
  <nb-card accent="success">
    <nb-card-body>
      <div>
        <table class="custom-table">
          <thead>
            <tr>
              <th>#</th>
              <th *ngFor="let col of columnList">
                {{ col.name }}
              </th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of deviceList | paginate: (pageParams | paginationFormat);index as i">
              <td>{{ i + 1 }}</td>
              <td *ngFor="let col of columnList">
                <ng-container [ngSwitch]="col.key">
                  <ng-container *ngSwitchDefault>
                    {{ data[col.key] || '無' }}
                  </ng-container>
                </ng-container>
              </td>
              <td fxLayoutGap="5px">
                <!-- <button status="basic" nbButton>檢視</button> -->
                <button status="basic" (click)="openInfoDialog(data.deviceId)" nbButton>檢視</button>
                <button status="primary" (click)="openEditDialog(data.deviceId)" nbButton>編輯</button>
                <button status="danger" (click)="deleteDevice(data.deviceId)" nbButton>刪除</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div fxLayoutAlign="center">
          <pagination-controls  previousLabel="上一頁" nextLabel="下一頁" (pageChange)="pageChange($event)"></pagination-controls>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  