<nb-card status="info">
    <nb-card-header style="font-size: 20px;" fxLayoutAlign="space-between center">
      <span>
        <nb-icon icon="thermometer"></nb-icon>
        各院感測人數統計
      </span>
      <button nbButton status="success" shape="round" size="small" nbTooltip="匯出Excel" nbTooltipPlacement="top">
        <nb-icon icon="file-text-outline"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div style="display: block;width: 100%;">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
    </nb-card-body>
  </nb-card>
  