/* You can add global styles to this file, and also import other style files */
.nb-theme-default nb-menu .menu-item a {
  font-size: 17px !important;
}

.font-17 {
  font-size: 17px;
}

.line-17 {
  line-height: 17px;
}

.pointer {
  cursor: pointer;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  td, th {
    padding: 0.875rem 1.25rem;
    border: 1px solid #edf1f7;
  }
  .action-col {
    padding: 0;
  }
  .action-icon {
    font-size: 2rem;
    width: 3rem;
    padding: 0.75rem;
    height: 100%;
  }
  .action-icon:not(:last-child) {
    border-right: 1px solid #edf1f7;
  }

}

@mixin color-label($color) {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  background-color: $color;
  border-color: $color;
  padding: 4px 6px;
  border-radius: 0.2rem;
  font-size: 14px;
}

.dark-label {
  @include color-label(#474747);
}
.success-label {
  @include color-label(#2ce69b);
}
.danger-label {
  @include color-label(#ff3d71);
}
.primary-label {
  @include color-label(#3366ff);
}
.info-label {
  @include color-label(#0095ff);
}
.warning-label {
  @include color-label(#ffaa00);
}

.text-success {
  color: #2ce69b;
}
.text-danger {
  color:#ff3d71;
}
.text-primary {
  color:#3366ff;
}
.text-info {
  color:#0095ff;
}
.text-warning {
  color:#ffaa00;
}
.text-dark {
  color: #474747;
}